<!doctype html>
<html>


<body style="background-color: #e6ffff;">
<h1> Algorithms</h1>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <img align="right" src="https://www.ingoelectric.com/images/ingo-electric-logo-tr-color.png" alt="search engine image" >

<body style="background-color: #e6ffff;">
    <h3><a href="chart1"> 1)Aggressive Driving Behavior estimation using acclertion counts <i class="fa">&#xf1fe;</i></a></h3>
    <h3><a href="chart2"> 2)BMS CAN Battery Curves <i class="fa">&#xf1fe;</i></a></h3>
</body>
</html>